h2{
    color: blue;
}
div{
    
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
}
section
{
    width: 49%;
    align-self: start;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    background-color: #e0ffe0;
    height: 200px;
    box-sizing: border-box;
}